<p id="notice"><%= notice %></p>
<div id="itemsContainer">
<h2>Products</h2>


      
        



    <% @products.each do |product| %>
      <div class="producthols">
      
        <h2><%= product.name %></h2>
        <p>Price: <%= product.price %></p>
        <p>Calories per Serving: <%= product.caloriesPerServing %></p>
        <p>Gluten Free: <%= product.glutenFree %></p>
        <p>Product contains Nute: <%= product.containsNuts %></p>
        <p><%= product.description %></p>
        <%= link_to (image_tag product.image, :class=>"productholsIm", style:"width:30%"), product %>
       <br>
       <br>
       <br>
        
        
        <p><%= link_to Category.find(product.category_id).name, category_path(product.category_id) %></p>
        
        <p><%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
       <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
        
   
     </div>
    <% end %>
  

<%= link_to 'New Product', new_product_path %>

